@media only screen and (max-width:1200px){
    /* overview */
    h3{
        font-size: 2.6875rem !important;
    }
    /* open-source service */
    .service{
        width: 40% !important;
    }
    .opensource-desc{
        width: 70% !important;
    }
}