@media only screen and (max-width:1024px){
    /* navbar */
    header .navbar{
        animation: none !important;
        justify-content: flex-start !important;
        padding-left: 5% !important;
    }
    .navbar{
        background-color: #fff;
        border-bottom: 1px solid #edeff2;
        padding-top: 60px !important;
        position: fixed;
        width: 100%;
        z-index: 5;
    }
    .tools-spec .fa-magnifying-glass{
        display: none !important;
    }
    .menutext{
        width: 100% !important;
    }
    .menulist{
        display: none !important;
    }
    /* .menulist .list-spec:last-child span{
        border: none !important;
    } */
    .navbar .logo .logo-hell:first-child{
        display: none !important;
    }
    .logo{
        position: static !important;;
    }
    .logo .logo-hell:last-child{
        animation: none !important;
        opacity: 1 !important;
        top: 30px;
        left: 45%;
    }
    .logo .logo-hell:last-child img{
        width: 104px !important;

    }
    .fa-solid.fa-cart-shopping{
        animation: none !important;
        display: none !important;
    }
    .tools-spec .fa-solid.fa-bars{
        display: none !important;
    }
    .menu-active{
        display: block !important;
        z-index: 12;
        position: absolute !important;
        top: 25px !important;
        left: 10% !important;
        padding-bottom: 13px;
    }
    .menu-active i.fa-solid.fa-bars{
        transition: color .2s cubic-bezier(.02,.54,.58,1);
        background-color: transparent !important;
        color: #58468c !important;
        font-size: 1.375rem;
        /* transition: background-color .2s cubic-bezier(.02,.54,.58,1); */
    }
    .menu-active:hover i.fa-solid.fa-bars{
        color: #ff8a73 !important;
    }
    .menu-active:hover ~ul,
    .menulist:hover{
        display: block !important;
        z-index: 16;     
    }
    .menulist{
        flex-direction: column !important;
        width: 100% !important;
    }
    .menulist .list-spec{
        width: 100%;
    }
    .menulist .list-spec span{
        display: block;
        color: rgb(88, 70, 140);
        font-size: 14px;
        letter-spacing: 0.085em;
        line-height: 23px;
        text-transform: uppercase;
        font-weight: 400;
        padding: 9px 0px !important;
        border-bottom: 1px solid rgb(237, 239, 242);
        cursor: pointer;
    }
    .list-spec .second{
        position: static !important;
        /* display: block !important; */
        padding: 0px !important;
        margin: 0px !important;
        margin-left: 15px;
        border: none !important;
        box-shadow: none !important;
        width: 100% !important;
        height: 150px !important;
        overflow-y: scroll !important;
        overflow-x: hidden;
        
    }
    .third{
        position: relative !important;
        margin-left: 15px !important;
    }
    /* for Chrome Opera Safari */
    .list-spec .second::-webkit-scrollbar{
        display: none !important;
    }
    /* for others */
    .list-spec .second{
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
    .second-sub-list .second-sub-list-spec>span{
        padding: 9px 0px !important;
    }
    .list-spec .second-spec:hover>span
    .second-sub-list-spec:hover>span,
    .second-sub-list .second-sub-list-spec:hover>span{
        padding: 9px 0px !important;
        color: rgb(255, 138, 115);
    }
    .second-spec,
    .second-sub-list-spec{
        padding: 0 !important;
        margin-left: 15px !important;
        overflow: visible !important;
    }
    .third{
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        overflow: visible !important;
        box-shadow: none !important;
        padding: 0px !important;
    }
    .third-spec{
        padding: 0px !important;
    }
    .third-spec::before{
        display: none !important;
        
    }
    .list-spec .second .second-spec span,
    .second-sub-list .second-sub-list-spec span{
        display: block !important;
        /* transition: none !important;     */
        padding: 9px 0px !important;
        font-size: 1rem !important;
        line-height: 24px;
        text-transform: capitalize;
        font-weight: 300;
        letter-spacing: 0px;
        font-family: 'Nunito', sans-serif;
        color: rgb(113, 108, 128);

    }
    
    .second-spec::before,
    .list-spec::before,
    .second-sub-list-spec::before{
        display: none !important;
    }
    .list-spec:first-child .second .second-spec:nth-child(3).hosting-home>span{
        padding: 9px 0px !important;
        color: #ff8a73;
    }
    
    .second-sub-list{
        display: none !important;
    }
    .second-inner-list{
        width: 100%;
        flex-direction: column !important;
    }
    .second-inner-list .second-sub a span,
    .second-sub-list-spec span{
        display: block !important;
        /* transition: none !important; */
        text-transform: capitalize !important;
        padding: 9px 0px !important;
        font-size: 1rem !important;
        line-height: 24px !important;
        font-weight: 300 !important;
        letter-spacing: 0px !important;
        font-family: 'Nunito', sans-serif !important;
        color: rgb(113, 108, 128) !important;
    }
    .second-sub{
        width: 100% !important;
    }
    .second .second-spec:hover>span,
    .third .third-spec:hover>span,
    .second-sub-list-spec:hover>span{
        color: #ff8a73 !important;
    }
    .second-sub a:hover~ .second-sub-list,
    .second-sub-list:hover{
        display: block !important;
    }
    .second-inner-list .second-sub a span{
        border-bottom: 1px solid #edeff2 !important;
    }
    /* navbar */
    /* untapped potential back */
    .untapped-background{
        position: absolute !important;
        /* top: -95px !important; */
        left: -207px !important;
        padding: 600px !important;
    }
    .untapped-background .back1{
        width: 424px !important;
        height: 250px !important;
        top: 0px !important;
        right: 180px !important;
    }
    .untapped-background .back2{
        width: 900px !important;
        height: 462px !important;
    }
    .untapped-background .back3{
        width: 131px !important;
        height: 88px !important;
        top: 88px !important;
        left: 0px !important;
    }
    /* untapped background */

    /* untapped potential section */
    .untapped-potential-section{
        max-width: 60% !important;
        min-width: 478px !important;
        margin: 85px auto 0 !important;
        height: 100% !important;
    }
    .untapped-potential{
        min-width: 478px;
        overflow: hidden !important;
        grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr !important;
        grid-template-rows: 2fr 0.5fr 1.5fr 0.5fr 0.5fr !important;
        grid-template-areas: 
        'content content content content content'
        'chat chat chat coin coin'
        'wifi cloud cloud cloud user'
        'laptop laptop shield shield shield'
        'wallet wallet wallet wallet wallet' !important
        ;
    }
    .potential-1{
        width: 90% !important;
    }
    .potential-2{
        width: 100% !important;
        justify-content: center;
    }
    .potential-2 img{
        margin-left: 2%;
    }
    .potential-3 img{
        width: 20%;
    }
    .potential-4{
        justify-content: center;
    }
    .potential-4 img{
        width: 40%;
    }
    .potential-5{
        display: flex;
        justify-content: end;
    }
    .potential-6{
        align-self: flex-end !important;
    }
    .potential-6 img{
        width: 17%;
        margin-right: 20%;
    }
    .potential-7 img{
        width: 12%;
    }
    .potential-8{
        display: flex;
        justify-content: center;
    }
    .potential-8 img{
        width: 40%;
    }
    .potential-9{
        margin-bottom: 1rem;
    }
    .potential-9 h1{
        font-size: 2.75rem !important;
        margin-bottom: 1rem !important;
    }
    .potential-9 p{
        font-size: 1.2rem !important;
        margin-bottom: 1rem !important;
        padding-bottom: 0 !important;
    }
    /* untapped potential section */
    /* secure section */
    .secure-section{
        margin-bottom: 9rem;
    }
    .secure-image img.robot, 
    .secure-image img.server, 
    .secure-image img.server,img.glass{
        display: none;
    }
    .secure-content{
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
        width: 540px !important;
    }
    .secure-desc{
        width: 100% !important;
    }
    .secure-desc h3{
        font-size: 2.8125rem;
    }
    img.setting{
        width: 162px !important;
        height: 72px !important;
        top: -390px !important;
        left: -130px !important;
    }
    .secure-user{
        justify-content: center !important;
    }
    /* secure section */
    /* digital section */
    .digital-back{
        display: none !important;
    }
    .digital-content{
        flex-direction: column-reverse !important;
        align-items: center !important;
        text-align: center;
        justify-content: center !important;
    }
    .digital-image,
    .protect-image{
        position: absolute;
        top: 10px !important;
        margin: 0 auto !important;
        margin-bottom: 3rem !important;
        width: 100% !important;
    }
    .digital-desc{
        margin: 0 !important;
        min-width: 500px !important;
        max-width: 500px !important;
    }
    .digital-desc ul{
        width: 100%;
        margin: 0 auto;
    }
    .digital.server-board{
        display: none;
    }
    .digital-image .shield{
        width: 204px !important;
        height: 281px !important;
        left: 25% !important;
        top: 306px !important;
    }
    .digital-image .server{
        width: 130px !important;
        height: 75px !important;
    }
    .digital-image .server-1{
        left: 57% !important;
        top: 309px !important;
    }
    .digital-image .server-2{
        left: 57% !important;
        top: 409px !important;
    }
    .digital-image .server-3{
        left: 57% !important;
        top: 510px !important;
    }
    /* digital section */
    /* open-source section */
    .opensource-sec{
        position: relative;
        top: 170px;
        margin-bottom: 24rem !important;
    }
    /* open-source section */
    /* unique section */
    .unique-back img{
        width: 200px !important;
        height: 343px !important;
        left: 1px !important;
        top: 155px !important;
    }
    .unique-image img{
        display: none !important;
    }
    .unique-content{
        flex-direction: column !important;
        align-items: center;
    }
    .unique-desc{
        width: 55% !important;
        text-align: center;
    }
    .unique-desc ul{
        margin: 0 auto !important;
    }
    /* unique section */
    /* protect section */
    .protect-section{
        margin-top: 3rem;
        width: 100% !important;
    }
    .protect-image{
        margin-top: -3rem !important;
    }
    .protect-image .server-board{
        display: none !important;
    }
    .protect-back img{
        display: none !important;
    }
    .protect-content{
        flex-direction: column;
        width: 100% !important;
    }
    .protect-desc{
        width: 80% !important;
        margin: 0 auto !important;
        text-align: center !important;;
    }
    .protect-desc ul{
        margin: 0 auto !important;
        display: flex;
        justify-content: center !important;
    }
    .protect-image .server-1{
        width: 398px !important;
        height: 136px !important;
        left: 5% !important;
        top: 405px !important;
        right: 5%;
        margin: 0 auto !important;
    }
    .protect-image .server-2{
        width: 398px !important;
        height: 137px !important;
        left: 5% !important;
        top: 350px !important;
        right: 5%;
        margin: 0 auto;
    }
    .button li{
        width: 100%;
        margin: 0 !important;
        display: flex;
        justify-content: center !important;
    }
    .button li a{
        margin: 0 auto !important;
    }
    /* protect section */
    /* pricing table section */
    .pricing-table{
        width: 95%;
        margin: 0 auto;
        margin-top: 17rem !important;
    }
    .plan{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0.9375rem;
        border-radius: 10px !important;
    }
    .plan .price, .plan .plan-desc{
        width: 100%;
        text-align: center;
    }
    .price{
        align-items: center;
        text-align: center !important;
    }
    .price span{
        text-align: center !important;
    }
    .plan-desc{
        padding-top: 1.625rem;
        padding-left: 0 !important;
    }
    .plan-desc span:first-child{
        padding-top: 1.0625rem !important;
    }
    .plan-desc span:nth-child(2){
        padding-top: 0.75rem;
    }
    .plan-desc a{
        padding: 0.5rem 1.4rem !important;
        text-align: center;
        margin: 0 auto;
    }
    /* pricing table section */
    /* top footer section */
    .top-footer{
        flex-wrap: wrap;
        width: 80% !important;
        margin: 0 auto !important;
        justify-content: space-around;
    }
    .part-of-top-footer{
        width: 47% !important;
        padding-right: 8% !important;
    }

    /* top footer section */
}