/* reset css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
::after,::before{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito',sans-serif;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 300;
    color: #716c80;
    background-color: #fff;
}
/* overview */
h1, h2, h3, h4, h5, h6{
    color: #58468c;
    font-family: 'Poppins',sans-serif;
}
a{
    text-decoration: none;
}
h4{
    font-size: 1.375rem;
    line-height: 1.6rem;
    font-weight: 500;
}
h3{
    font-size: 2.8125rem;
    line-height: 1.22rem;
    font-weight: 400;
}
ul{
    list-style: none;
}

/* navbar */
.header{
    background-color: transparent;
}
header .navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    align-items: center;
    padding-bottom: 50px;
}
/* navbar logo */
.logo{
    width: 7%;
}
.logo a img{
    width: 100%;
}
.logo1{
    display: none;
}
.search{
    display: none;
}
/* menu list */
.menutext{
    width: 70%;
}
.menulist{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
    cursor: pointer;
}
.list-spec{
    position: relative;
    box-shadow: 0.35s cubic-bezier(0.02, 0.54, 0.58, 1) 0s; 
    -webkit-box-shadow: 0.35s cubic-bezier(0.02, 0.54, 0.58, 1) 0s;
    cursor: pointer;
}
.list-spec span{

}
.second{
    position: absolute;
    top: 200%;
    left: -70%;
    z-index: 2;
    width: 600%;
    border-radius: 7px;
    display: none;
    padding: 1.5rem 2.3125rem;
    background-color: #fff;
    border: 1px solid transparent;
    font-family: 'Poppins',sans-serif;
    line-height: 2em;
    box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
    text-align: left;

}
.second .second-spec{
    display: block;
    width: 100%;
    /* padding: 0.75rem 4rem; */
    text-align: left;
    padding: 0.3rem 0;
    position: relative;
}
.second-spec::before{
    opacity: 0;
    content: '';
    position: absolute;
    left: -13px;
    top: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5580ff;
    transition: opacity .2s cubic-bezier(.02,.54,.58,1);
    transition: opacity .3s cubic-bezier(.02,.54,.58,1),left .2s,right .2s;
}
.second-spec:hover::before{
    opacity: 1;
    left: 2px;
}
.second-spec:hover{
    opacity: 1;
}
.second-spec>span{
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 30px 0 0;
    transition: padding .2s cubic-bezier(.02,.54,.58,1);
}
.second-spec:hover>span{
    padding: 0 10px 0 15px
}
.second-spec:nth-child(3)>span{
    padding: 0 10px 0 15px !important;
}
.second-spec:nth-child(3)::before{
    opacity: 1;
    left: 2px;
}
.list-spec:first-child::before{
    opacity: 1;
}
.list-spec::before{
    opacity: 0;
    content: '';
    position: absolute;
    left: -13px;
    top: calc(50% - 1px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5580ff;
    transition: opacity .2s cubic-bezier(.02,.54,.58,1);
}
.list-spec:hover:before{
    opacity: 1;
}
.list-spec:hover>span{
    color: #ff8a73;
}
.list-spec:hover>.second, .second:hover{
    display: block;
}
.list-spec>span{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #58468c;
    letter-spacing: .085em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 23px;
    cursor: pointer;
    padding-top: 100%;
    padding-bottom: 100%;
}
.tools{
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
}
.tools i{
    color: #58468c;
    font-size: 16px;
}
.fa-solid.fa-bars{
    padding: 10px;
    background-color: #58468c;
    color: white;
    border-radius: 4px;
}
/* header background */
.header-background{
    width: 100%;
    overflow: hidden;
}
.header-background .back1{
    position: absolute;
    z-index: -5;
    top: 0;
    right: 0;
    width: 60%;
}
.header-background .back2{
    position: absolute;
    z-index: -2;
    top: -15%;
    left: -7%;
    width: 95%;
}
.header-background .back3{
    position: absolute;
    z-index: -1;
    top: -2%;
    left: -3%;
    width: 18%;
}
/* untapped potential section */
    .untapped-potential-section{
        width: 90%;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 25rem;
    }
    .up1{
        position: absolute;
        width: 22%;
        top: 25%;
        left: 10% ;
    }
    .up2{
        position: absolute;
        width: 7%;
        top: 23%;
        left:35%;
    }
    .up3{
        position: absolute;
        width: 5%;
        top: 17%;
        left: 50%;
    }
    .up4{
        position: absolute;
        width: 7%;
        top: 23%;
        right: 28%;
    }
    .up5{
        position: absolute;
        width: 5%;
        top: 35%;
        right: 20%;
    }
    .up6{
        position: absolute;
        width: 5%;
        bottom:20%;
        right: 28%;
    }
    .up7{
        position: absolute;
        width: 6%;
        bottom: 13%;
        right: 45%;
    }
    .up8{
        position: absolute;
        width: 8%;
        bottom: 17%;
        left: 30%;
    }
    .u-potential-text{
        /* position: absolute; */
        width: 43%;
        height: auto;
        margin: auto;
        margin-top: 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .u-potential-text h1{
        font-size: 3.25rem;
        font-weight: 300;
        margin-bottom: 2rem;
        line-height: 4rem;
    }
    .u-potential-text p{
        width: 90%;
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: 0.025rem;
        padding-bottom: 1.8rem;
    }
    .u-potential-text ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;

    }
    .u-potential-text ul li a{
        display: block;
    }
/* open source service */
.opensource-desc{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3.4375rem;
    padding-top: 11.1875rem;
}
.opensource-desc h3{
    margin-bottom: 15px;
}
.opensource-desc p{
    font-size: 1.25rem;
    margin-top: 0.9375rem;
    line-height: 2.0625rem;

}
.opensource-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
    border: 1px solid #dde7ff;
    padding:1.875rem;
    margin: 0.9375rem;
    justify-content: center;
    width: 20%;
    transition: all .2s cubic-bezier(.02,.54,.58,1);
}
.service:hover{
    box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
    border:none;
    transform: translateY(-10px);
}
.service-img{
    width: 20%;
}
.service-img img{
    max-width: 110%;
}
.service-desc{
    width: 80%;
    padding-left: 1.5625rem;
}
/* pricing table section */
.pricing-table{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3.125rem;
    /* temp padding bottom */
    padding-bottom: 120px;
}
.pricing-table .plan:nth-child(1),.pricing-table .plan:nth-child(2){
    transition: box-shadow .35s cubic-bezier(.02,.54,.58,1),-webkit-box-shadow .35s cubic-bezier(.02,.54,.58,1);
}
.pricing-table .plan:nth-child(1):hover,.pricing-table .plan:nth-child(2):hover{
    box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
}
.pricing-table .plan:nth-child(3){
    box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
}
.plan{
    display: flex;
    justify-content: center;
    border-radius: 3%;
}
.price{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 3.1875rem 0.5rem 0px ;
}
.price .term{
    font-size: 0.6875rem;
    line-height: 1.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.125rem;
    text-align: right;
}
.price-num{
    color: #58468c;
    font-size: 4.375rem;
    line-height: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300 !important;
    text-align: right;
}
.price-num sup{
    position: relative;
    vertical-align: super;
    bottom: 0.9375rem;
    font-size: 1.5rem;
    line-height: 1em;
    font-weight: 600;
}
.plan-desc{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 1rem;
}
.plan-desc span{
    color: #5d4d8c;
    font-family: 'Poppins',sans-serif;
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 500;
    padding-top: 0.5rem;
}
.plan-desc span:first-child{
    padding-top: 5.5rem;
}
.plan-desc ul{
    display: block;
    padding: 1.875rem 0rem 2.8125rem;
}
.plan-desc ul li{
    padding: 0.25rem 0rem;
}
.plan-desc div{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transform: translateX(-0.9375rem);
}
.plan-desc div a, u-potential-text ul li a, .u-potential-text ul li a{
    display: block;
    padding: 0.75rem 2.3125rem;
    color: #fff;
    border: 1px solid transparent;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    line-height: 2em;
    letter-spacing: .125em;
    border-radius: 3em;
    margin-bottom: 3.6875rem;
    transition: box-shadow .35s cubic-bezier(.02,.54,.58,1),-webkit-box-shadow .35s cubic-bezier(.02,.54,.58,1);
}
.plan:first-child .plan-desc div a{
    background-color: rgb(123, 185, 255);
    box-shadow: none;
}
.plan:first-child .plan-desc div a:hover{
    box-shadow: rgba(123, 185, 255,0.5) 0px 10px 25px 0px;
}
.plan:nth-child(2) .plan-desc div a, .u-potential-text ul li:last-child a{
    background-color: rgb(85, 128, 255);
    box-shadow: none;
}
.plan:nth-child(2) .plan-desc div a:hover, .u-potential-text ul li:last-child a:hover{
    box-shadow: rgba(85, 128, 255, 0.5) 0px 10px 25px 0px;
}
.plan:nth-child(3) .plan-desc div a, .u-potential-text ul li:first-child a{
    background-color: rgb(255, 138, 115);
    box-shadow: none;
}
.plan:nth-child(3) .plan-desc div a:hover, .u-potential-text ul li:first-child a:hover{
    box-shadow: rgba(255, 138, 115, 0.5) 0px 10px 25px 0px;
}
/* footer */
footer{
    background-color: #343352;
}
/* top-footer section */
.top-footer{
    display: flex;
    align-items: baseline;
    padding: 7.375rem 0rem 7.8125rem;
    width: 90%;
    margin: 0 auto;
} 
.part-of-top-footer{
    width: 25%;
}  
.part-of-top-footer:nth-child(1) a{
    width: 15%;
    height: auto;
}
.part-of-top-footer:nth-child(1) a img{
    max-width: 30%;
}
.part-of-top-footer:nth-child(1) p, .part-of-top-footer:nth-child(4) p{
    color: #fff;
    padding: 1rem 0;
}
.part-of-top-footer:nth-child(1) ul{
    display: flex;
}
.part-of-top-footer:nth-child(1) ul li a i{
    font-size: 1.1875rem;
    margin: 0px 0.875rem 0px 0px;
    color: rgb(36, 36, 43);
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(45,45,71,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition:.2s cubic-bezier(.02,.54,.58,1);
}
.part-of-top-footer:nth-child(1) ul li a i:hover{
    color: rgb(255, 138, 155);
}
.part-of-top-footer:nth-child(2) h5, .part-of-top-footer:nth-child(4) h5{
    font-size: 1.125rem;
    color: #fff;
    margin: 0.5625rem 0rem 1.3rem;
    letter-spacing: 0;
    line-height: 1.3em;
    font-weight: 400;
}
.part-of-top-footer:nth-child(2) ul li a{
    display: inline-block;
    font-size: 1rem;
    padding: 0 0 0 0.625rem;
    color: rgb(255, 255, 255);
    margin-bottom: 0.8rem;

}
.part-of-top-footer:nth-child(3) p{
    color: #fff;
}
.part-of-top-footer:nth-child(4) ul{
    display: flex;
}
.part-of-top-footer:nth-child(4) ul li{
    width: 100%;
}
.part-of-top-footer:nth-child(1), .part-of-top-footer:nth-child(2), .part-of-top-footer:nth-child(4){
    width: 28%;
}
.part-of-top-footer{
    padding: 0.9375rem 0 0.9375rem;
}