/* reset css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
::after,::before{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito',sans-serif;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 300;
    color: #716c80;
    background-color: #fff;
    overflow-x: hidden;
}
/* overview */
.container{
    overflow: hidden;
    width: 100%;
}
h1, h2, h3, h4, h5, h6{
    color: #58468c;
    font-family: 'Poppins',sans-serif;
}
a{
    text-decoration: none;
}
h4{
    font-size: 1.375rem;
    line-height: 1.6rem;
    font-weight: 500;
}
h3{
    font-size: 2.8125rem;
    line-height: 3rem;
    font-weight: 400;
}
ul{
    list-style: none;
    display: block;
}
p{
    color:rgb(113, 108, 128)
}
/* navbar */
header{
    background-color: transparent;
}
header .navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    align-items: center;
    padding-bottom: 25px;
}
/* navbar */

/* navbar logo */
.logo{
    width: 7%;
}
.logo a img{
    width: 100%;
}
.logo1{
    display: none;
}
.search{
    display: none;
}
/* navbar logo */
/* menu list */
.menutext{
    width: 47%;
}
.menulist{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
    cursor: pointer;
}
.list-spec{
    position: relative;
    cursor: pointer;
}
.second, .third,
.list-spec:nth-child(3) .second .second-spec:nth-child(5) .third,
.list-spec:nth-child(3) .second .second-spec:nth-child(6) .third,
.list-spec:nth-child(4) .second .second-spec:nth-child(5) .third,
.list-spec:nth-child(5) .second .second-spec:nth-child(3) .third,
.list-spec:nth-child(5) .second .second-spec:nth-child(4) .third{
    position: absolute;
    top: 60px;
    left: -70%;
    z-index: 2;
    width: 600%;
    border-radius: 7px;
    display: none;
    padding: 1.5rem 2.3125rem;
    background-color: #fff;
    border: 1px solid transparent;
    font-family: 'Poppins',sans-serif;
    line-height: 2em;
    box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
    text-align: left;
}
.second .second-spec, 
.second-sub-list-spec,
.list-spec:nth-child(3) .second .second-spec:nth-child(5) .third .third-spec,
.list-spec:nth-child(3) .second .second-spec:nth-child(6) .third .third-spec,
.list-spec:nth-child(4) .second .second-spec:nth-child(5) .third .third-spec,
.list-spec:nth-child(5) .second .second-spec:nth-child(3) .third .third-spec,
.list-spec:nth-child(5) .second .second-spec:nth-child(4) .third .third-spec{
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.3rem 0;
    position: relative;
}
.second-spec>span, 
.second-sub-list-spec>span,
.list-spec:nth-child(3) .second .second-spec:nth-child(5) .third .third-spec>span,
.list-spec:nth-child(3) .second .second-spec:nth-child(6) .third .third-spec>span,
.list-spec:nth-child(4) .second .second-spec:nth-child(5) .third .third-spec>span,
.list-spec:nth-child(5) .second .second-spec:nth-child(3) .third .third-spec>span,
.list-spec:nth-child(5) .second .second-spec:nth-child(4) .third .third-spec>span{
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 30px 0 0;
    transition: padding .2s cubic-bezier(.02,.54,.58,1);
}
.list-spec:nth-child(5) .second .second-spec:nth-child(3) .third{
    width: 180% !important;
}
.second-sub-list{
    position: relative;
}
.second-sub-list-spec{
    position: relative;
}
.second-spec::before, 
.second-sub-list-spec::before,
.third-spec::before{
    opacity: 0;
    content: '';
    position: absolute;
    left: -13px;
    top: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5580ff;
    transition: opacity .2s cubic-bezier(.02,.54,.58,1);
    transition: opacity .3s cubic-bezier(.02,.54,.58,1),left .2s,right .2s;
}
.second-spec:hover::before, 
.second-sub-list-spec:hover::before,
.third-spec:hover::before{
    opacity: 1;
    left: 2px;
}
.second-spec:hover{
    opacity: 1;
}
.second-spec:hover>span, 
.second-sub-list-spec:hover>span,
.third-spec:hover>span{
    padding: 0 10px 0 15px !important;
}
.second-inner{
    position: relative;
}
.second-inner-list{
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
}
.second-sub{
    width: 18%;
    position: relative;
}
.third{
    display: none !important;
}
.list-spec:nth-child(3) .second .second-spec:nth-child(5):hover .third,
.list-spec:nth-child(3) .second .second-spec:nth-child(5) .third:hover,
.list-spec:nth-child(3) .second .second-spec:nth-child(6):hover .third,
.list-spec:nth-child(3) .second .second-spec:nth-child(6) .third:hover,
.list-spec:nth-child(4) .second .second-spec:nth-child(5):hover .third,
.list-spec:nth-child(4) .second .second-spec:nth-child(5) .third:hover,
.list-spec:nth-child(5) .second .second-spec:nth-child(3):hover .third,
.list-spec:nth-child(5) .second .second-spec:nth-child(3) .third:hover,
.list-spec:nth-child(5) .second .second-spec:nth-child(4):hover .third,
.list-spec:nth-child(5) .second .second-spec:nth-child(4) .third:hover{
    display: block !important;
}
.list-spec:nth-child(3) .second .second-spec:nth-child(5) .third,
.list-spec:nth-child(3) .second .second-spec:nth-child(6) .third,
.list-spec:nth-child(4) .second .second-spec:nth-child(5) .third,
.list-spec:nth-child(5) .second .second-spec:nth-child(3) .third,
.list-spec:nth-child(5) .second .second-spec:nth-child(4) .third{
    position: absolute;
    z-index: 8;
    display: block;
    width: 150%;
    overflow: visible;
    top: -15%;
    left: 100%;
}
.list-spec:last-child .second{
    position: fixed;
    width: 100%;
    left: 0;
    top: 115px;
}
.list-spec:nth-child(3) .second{
    width: 280%;
}
.list-spec:nth-child(4) .second,  
.list-spec:nth-child(5) .second{
    width: 520%;
}
.list-spec:first-child .second .second-spec:nth-child(3)>span{
    padding: 0 10px 0 15px !important;
}
.list-spec:first-child .second-spec:nth-child(3)::before{
    opacity: 1;
    left: 2px;
}
.list-spec:first-child::before{
    opacity: 1;
}
.list-spec::before{
    opacity: 0;
    content: '';
    position: absolute;
    left: -13px;
    top: calc(50% - 1px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5580ff;
    transition: opacity .2s cubic-bezier(.02,.54,.58,1);
}
.list-spec:hover:before{
    opacity: 1;
}
.list-spec:hover>span{
    color: #ff8a73;
}
.list-spec:hover>.second, .second:hover{
    display: block !important;
}
.list-spec>span, .second-sub a span{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #58468c;
    letter-spacing: .085em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 23px;
    cursor: pointer;
}
.list-spec>span{
    padding-top: 100%;
    padding-bottom: 100%;

}
/* icon list in header */
.tools{
    width: 10%;
}
.tools-list{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.tools i{
    color: #58468c;
    font-size: 20px;
}
.tools .fa-solid{
    transition: color .2s cubic-bezier(.02,.54,.58,1);
    transition: background-color .2s cubic-bezier(.02,.54,.58,1);
}
.tools .fa-solid:hover{
    color: #ff8a73;
}
.fa-solid.fa-bars{
    padding: 10px;
    background-color: #58468c;
    color: white;
    border-radius: 4px;
}
.fa-solid.fa-bars:hover{
    background-color: #ff8a73;
    color: #dde7ff;
}
.cart-dropdown{
    display: block;
    position: absolute;
    top: 150px;
    left: auto;
    right: 7%;
    width: 25%;
    background-color: #fff;
    text-align: left;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
    border-radius: 10px;
    transition: all .35s cubic-bezier(.53,.01,.18,1);
    margin: 30px;
    padding: 30px;
}
.tools-list:first-child .tools-spec:hover .cart-dropdown{
    opacity: 1;
    visibility: visible;
    top: 80px;
}
/* icon list in header */
/* untapped background */
.untapped-background{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -95px;
    left: -75px;
    padding: 100vh 100vw;
    z-index: -1;
}
.untapped-background .back1{
    position: absolute;
    z-index: -3;
    width: 1060px;
    height: 500px;
    top: -55px;
    right: 0px;
}
.untapped-background .back2{
    position: absolute;
    z-index: -2;
    width: 1170px;
    height: 617px;
    top: 0px;
    left: 0px;
}
.untapped-background .back3{
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 225px;
    height: 152px;
}
/* untapped background */
/* untapped potential section */
.untapped-potential-section{
    min-width: 1024px;
    max-width: 80%;
    margin-left: 5%;
    height: auto;
    /* overflow: hidden; */
    position: relative;

}
.untapped-potential{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1.5fr 0.75fr 0.73fr 0.75fr 0.75fr;
    grid-template-rows: 0.9fr 2.5fr 0.8fr;
    justify-items: center;
    align-items: center;
    grid-auto-rows: 100px;
    column-gap: 2%;
    grid-template-areas:
    'cloud wifi chat coin user'
    'cloud content content content user'
    'cloud laptop wallet shield user'
    }
.potential{
    width: 100%;
}
/* .potential img{
        margin-right: 3%;
        margin-left: auto;
    } */
.potential-1{
    grid-area: cloud;
    width: 100%;
    display: flex;

}
.potential-1 img{
    max-width: 87%;
    margin-right: 3%;
    margin-left: auto;

}
.potential-2{
    grid-area: wifi;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

}
.potential-2 img{
    max-width: 60%;
    
}
.potential-3{
    grid-area: chat;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}
.potential-3 img{
    max-width: 50%;
}
.potential-4{
    grid-area: coin;
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
}
.potential-4 img{
    max-width: 50%;
}
.potential-5{
    grid-area: user;
}
.potential-5 img{
    margin-left: 2%;
    max-width: 37%;
}
.potential-6{
    grid-area: shield;
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
}
.potential-6 img{
    max-width: 40%;

}
.potential-7{
    grid-area: wallet;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}
.potential-7 img{
    max-width: 45%;
}
.potential-8{
    grid-area: laptop;
}
.potential-8 img{
    max-width: 60%;
}
.potential-9{
    grid-area: content;
}
.potential-9 h1{
    font-size: 3.25rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    line-height: 4rem;
    text-align: center;
}
.potential-9 p{
    /* width: 90%; */
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.025rem;
    padding-bottom: 1.8rem;
}
.potential-9 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;

}
.potential-9 ul li a{
    display: block;
    margin-bottom: 0 !important;
}
/* animation for untapped */
/* .potential{
    opacity: 0;
} */
/* animation for untapped */
/* untapped potential section */


/* secure section */
.secure-section{
    margin-top: 15rem;
    position: relative;
}
/* .secure-back{
    position: absolute;
} */
.secure-back{
    z-index: -1;
}
.secure-back img{
    position: absolute;
    width: 169px;
    height: 546px;
    right: 0px;
    top: -7.75rem;
    z-index: -1;
}
.secure-heading{
    position: absolute;
    top:-11rem;
    z-index: -1;
    width: 100%;
}
.secure-heading>h1{
    text-align: center;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 11.25rem;
    line-height: 11.25rem;
    color: rgb(239, 243, 255);
    letter-spacing: -0.5rem;
    margin-left: 2rem;
}
.secure-content{
    display: flex;
    width: 970px;
    margin: 0 auto;
}
.secure-desc{
    width: 80%;
    margin-right: 15px;
}
.secure-desc h3{
    font-family: 'Poppins', sans-serif;
    line-height: 3.4375rem;
    font-weight: 300;
    letter-spacing: 0px;
    color: rgb(88, 70, 140);
    margin-bottom: 1.5rem;
}
.secure-desc p{
    color: rgb(113, 108, 128);
    line-height: 2rem;
    font-weight: 300;
    font-size: 1.25rem;
    letter-spacing: 0;
    margin-bottom: 1.5rem;
}
.secure-user{
    display: flex;
    align-items: center;
}
.secure-avatar img{
    width: 4.5rem;
}
.position{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.position h2,
.position p{
    color: rgb(88, 70, 140);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 0;
}
.position h2{
    line-height: 1.5625rem;
    font-size: 1.375rem;
}
.position p{
    font-size: 0.6875rem;
    letter-spacing: 1px;
    line-height: 0.6875rem;
}

.secure-image{
    position: relative;
    width: 75%;
    margin-left: 13px;
}
.secure-image img{
    position: absolute;
}
.secure-image .robot{
    width: 330px;
    height: 463px;
    top:-55px;
    left: 80px;
}
.secure-image .glass{
    width: 84px;
    height: 49px;
    top: 315px;
    left: 8px;
}
.secure-image .server{
    width: 192px;
    height: 97px;
}
.secure-image .server-1{
    top: 150px;
    left: -40px;
}
.secure-image .server-2{
    top: 350px;
    right: 30px;
}
.secure-image .setting{
    width: 102px;
    height: 45px;
    top: 160px;
    right: 30px;
}
/* secure section */

/* open source service */
.opensource-desc{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3.4375rem;
    padding-top: 11.1875rem;
}
.opensource-desc h3{
    margin-bottom: 15px;
}
.opensource-desc p{
    font-size: 1.25rem;
    margin-top: 0.9375rem;
    line-height: 2.0625rem;

}
.opensource-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
    border: 1px solid #dde7ff;
    padding:1.875rem;
    margin: 0.9375rem;
    justify-content: center;
    width: 20%;
    transition: all .2s cubic-bezier(.02,.54,.58,1);
}
.service:hover{
    box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
    border:none;
    transform: translateY(-10px);
}
.service-img{
    width: 20%;
}
.service-img img{
    max-width: 110%;
}
.service-desc{
    width: 80%;
    padding-left: 1.5625rem;
}
/* open source service */
/* pricing table section */
.pricing-table{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3.125rem;
    /* temp padding bottom */
    padding-bottom: 120px;
}
.pricing-table .plan:nth-child(1),.pricing-table .plan:nth-child(2){
    transition: box-shadow .35s cubic-bezier(.02,.54,.58,1),-webkit-box-shadow .35s cubic-bezier(.02,.54,.58,1);
}
.pricing-table .plan:nth-child(1):hover,.pricing-table .plan:nth-child(2):hover{
    box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
}
.pricing-table .plan:nth-child(3){
    box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
}
.plan{
    display: flex;
    justify-content: center;
    border-radius: 3%;
}
.price{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 3.1875rem 0.5rem 0px ;
}
.price .term{
    font-size: 0.6875rem;
    line-height: 1.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.125rem;
    text-align: right;
}
.price-num{
    color: #58468c;
    font-size: 4.375rem;
    line-height: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300 !important;
    text-align: right;
}
.price-num sup{
    position: relative;
    vertical-align: super;
    bottom: 0.9375rem;
    font-size: 1.5rem;
    line-height: 1em;
    font-weight: 600;
}
.plan-desc{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 1rem;
}
.plan-desc span{
    color: #5d4d8c;
    font-family: 'Poppins',sans-serif;
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 500;
    padding-top: 0.5rem;
}
.plan-desc span:first-child{
    padding-top: 5.5rem;
}
.plan-desc ul{
    display: block;
    padding: 1.875rem 0rem 2.8125rem;
}
.plan-desc ul li{
    padding: 0.25rem 0rem;
}
.plan-desc div{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transform: translateX(-0.9375rem);
}
.plan-desc div a, .potential-9 ul li a{
    display: block;
    padding: 0.75rem 2.3125rem;
    color: #fff;
    border: 1px solid transparent;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    line-height: 2em;
    letter-spacing: .125em;
    border-radius: 3em;
    margin-bottom: 3.6875rem;
    transition: box-shadow .35s cubic-bezier(.02,.54,.58,1),-webkit-box-shadow .35s cubic-bezier(.02,.54,.58,1);
}
.plan:first-child .plan-desc div a{
    background-color: rgb(123, 185, 255);
    box-shadow: none;
}
.plan:first-child .plan-desc div a:hover{
    box-shadow: rgba(123, 185, 255,0.5) 0px 10px 25px 0px;
}
.plan:nth-child(2) .plan-desc div a, .potential-9 ul li:last-child a{
    background-color: rgb(85, 128, 255);
    box-shadow: none;
}
.plan:nth-child(2) .plan-desc div a:hover, .potential-9 ul li:last-child a:hover{
    box-shadow: rgba(85, 128, 255, 0.5) 0px 10px 25px 0px;
}
.plan:nth-child(3) .plan-desc div a, .potential-9 ul li:first-child a{
    background-color: rgb(255, 138, 115);
    box-shadow: none;
}
.plan:nth-child(3) .plan-desc div a:hover, .potential-9 ul li:first-child a:hover{
    box-shadow: rgba(255, 138, 115, 0.5) 0px 10px 25px 0px;
}/* pricing table section */
/* footer */
footer{
    background-color: #343352;
}
/* top-footer section */
.top-footer{
    display: flex;
    align-items: baseline;
    padding: 7.375rem 0rem 7.8125rem;
    width: 90%;
    margin: 0 auto;
} 
.part-of-top-footer{
    width: 25%;
}  
.part-of-top-footer:nth-child(1) a{
    width: 15%;
    height: auto;
}
.part-of-top-footer:nth-child(1) a img{
    max-width: 30%;
}
.part-of-top-footer:nth-child(1) p, .part-of-top-footer:nth-child(4) p{
    color: #fff;
    padding: 1rem 0;
}
.part-of-top-footer:nth-child(1) ul{
    display: flex;
}
.part-of-top-footer:nth-child(1) ul li a i{
    font-size: 1.1875rem;
    margin: 0px 0.875rem 0px 0px;
    color: rgb(36, 36, 43);
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(45,45,71,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition:.2s cubic-bezier(.02,.54,.58,1);
}
.part-of-top-footer:nth-child(1) ul li a i:hover{
    color: rgb(255, 138, 155);
}
.part-of-top-footer:nth-child(2) h5, .part-of-top-footer:nth-child(4) h5{
    font-size: 1.125rem;
    color: #fff;
    margin: 0.5625rem 0rem 1.3rem;
    letter-spacing: 0;
    line-height: 1.3em;
    font-weight: 400;
}
.part-of-top-footer:nth-child(2) ul li a{
    display: inline-block;
    font-size: 1rem;
    padding: 0 0 0 0.625rem;
    color: rgb(255, 255, 255);
    margin-bottom: 0.8rem;

}
.part-of-top-footer:nth-child(3) p{
    color: #fff;
}
.part-of-top-footer:nth-child(4) ul{
    display: flex;
}
.part-of-top-footer:nth-child(4) ul li{
    width: 100%;
}
.part-of-top-footer:nth-child(1), .part-of-top-footer:nth-child(2), .part-of-top-footer:nth-child(4){
    width: 28%;
}
.part-of-top-footer{
    padding: 0.9375rem 0 0.9375rem;
}
/* top-footer section */

/* bottom footer section */

/* bottom footer section */
/* footer */