@media only screen and (max-width:478px){
    /* overview */
    h3{
        font-size: 1.5625rem !important;
    }
    /* overview */
    /* untapped potential section */
    *{
        box-sizing: border-box;
    }
    .untapped-potential-section{
        max-width: 100% !important;
        min-width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .untapped-potential{
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 1fr 1fr !important;
        grid-template-areas: 
        'content content'
        'cloud cloud'   
        !important;
        justify-items: center;
        column-gap: 0;
        min-width: 100%;

    }
    .potential-none{
        display: none;
    }
    .potential-1{
        align-self: start;
        align-items: center !important;
    }
    .potential-1 img{
        max-width: 50%;
        min-width: 215px;
        margin: 0 auto !important;
    }
    .potential.potential-9{
        width: 100% !important;
        justify-content: center;
    }
    .potential-9 h1{
        font-size: 1.7rem !important;
        margin-bottom: 0.3rem !important;

    }
    .potential-9 p{
        font-size: 1rem !important;
        padding-bottom: 0.75rem !important;
    }
    .potential-9 ul{
        width: 100% !important;
        flex-direction: column;
    }
    .potential-9 ul li{
        max-width: 55%;
        min-width: 165px;
    }
    .potential-9 ul li a{
        font-size: 0.7rem;
        margin-bottom: 1.1rem !important;
    }
    /* untapped potential section */
    /* secure section */
    .secure-section{
        margin-top: 8rem !important;
    }
    .secure-back img{
        width: 140px !important;
        height: 395px !important;
        top:-0.75rem !important;
    }
    .secure-heading h1{
        font-size: 5rem;
        line-height: 10rem;
        letter-spacing: -2px;
        margin-left: 0px !important;
    }
    .secure-desc h3,
    .digital-desc h3,
    .unique-desc h3{
        font-size: 1.5625rem !important;
        line-height: 2.1875rem;
    }
    .secure-content{
        width: 75% !important;
    }
    img.setting{
        display: none !important;
    }
    /* secure section */
    /* digital section */
    .digital-image .server{
        display: none !important;
    }
    .digital-image .digital.shield{
        margin: 0 auto !important;
        left: 0 !important;
        position: relative;
        width: 119px !important;
        height: 164px !important;

    }
    /* digital section */
    /* opensource section */
    .opensource-desc{
        padding-top: 5rem !important;
    }
    /* opensource section */
    /* unique section */
    .unique-metrics{
        flex-direction: column !important;
        align-items: center !important;;
    }
    .metric{
        width: 100%;
    }
    .metric>h2{
        font-size: 1.875rem;
    }
    .metric>p{
       font-size: 0.6875rem;
    }
    /* unique section */
    /* protect section */
    .protect-image .server{
        display: none !important;
    }
    .protect-desc{
        width: 60% !important;
    }
    .protect-desc h1{
        line-height: 1.5rem;
    }
    /* protect section */
    /* pricing table */
    .pricing-table{
        margin-top: 3rem !important;
    }
    /* pricing table */
}