@media only screen and (max-width:768px){
    /* overview */
    h3{
        font-size: 1.5rem !important;
    }
    /* opensource service section */
    .service{
        width: 75% !important;
    }
    .opensource-desc{
        width: 90% !important;
    }
    /* pricing table section */
    .pricing-table{
        flex-direction: column;
        width: 100%;
    }
    .plan{
        width: 80%;
    }
    .plan-desc a{
        padding: 0.5rem 1.75rem;
    }

}