@media only screen and (max-width:680px){
    h3{
        font-size: 1.5rem !important;
    }
    .container{
        width: 100% !important;
    }
    .unique-desc{
        width: 70% !important;
    }

    /* footer section */
    .top-footer{
        width: 65% !important;
        flex-direction: column !important;
    }
    .top-footer .part-of-top-footer{
        width: 100% !important;
    }
    /* footer section */
}