/* reset css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #FFEFD9;
}
/* navbar */
.container .navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
}
/* navbar logo */
.logo{
    width: 12%;
}
.logo a img{
    width: 100%;
}
.logo1{
    display: none;
}
.search{
    display: none;
}
/* menu list */
.menutext{
    width: 70%;
}
.menulist{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}
.list-spec span{
    font-family: 'Popins', sans-serif;
    font-size: 14px;
    color: #58468c;
    letter-spacing: .085em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 23px;
}
.tools{
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
}
.tools i{
    color: #58468c;
    font-size: 16px;
}
.fa-solid.fa-bars{
    padding: 10px;
    background-color: #58468c;
    color: white;
    border-radius: 4px;
}